<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Alvin's Page</h1>
    <p>This is a simple HTML page.</p>
    <script>
        let quotes = [
            "quote 1",
            "quote 2",
            "quote 3",
            "quote 4",
        ];
        // the counting of the items starts from 0
        let item = quotes[2]
        alert(item)
    </script>
</body>
</html>