<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="card alert-primary">
        Hi
    </div>
    <button class="btn btn-warning m-3"> Click here</button>
    <script>
        let myDiv = document.querySelector('.card');
        let mybutton = document.querySelector('.btn');
        let data = prompt("type anything");
        myDiv.textContent = data;
        
    </script>
</body>

</html>